.fvs-html-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.fvs-body {
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
}

.fvs-body.fvs-responsive {
  overflow: visible;
}

.fvs-section {
  box-sizing: border-box;
}

.fvs-scroll-container {
  box-sizing: border-box;
  transform: translateY(0);
  transition: transform 0.7s;
  overflow: visible;
  height: 100%;
}

.fvs-scroll-container .fvs-section {
  min-height: 100%;
}

.fvs-responsive .fvs-section {
  min-height: auto;
}